@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

.image-rotate {
  /* position: relate; */
  /* top: 50%;
  left: 50%; */
  /* margin: -60px 0 0 -60px; */
  -webkit-animation: spin 2s linear 1;
  -moz-animation: spin 2s linear 1;

  animation: spin 2s linear 1;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
